Repository decide-part-osuna/decide-osuna, pull requests merged in 2022-12, with the labels that each got.

#75 Feat: Inicio de sesion completado
  decide/authentication/models.py
  decide/authentication/templates/authentication/LoginView.html
  decide/authentication/urls.py
  decide/authentication/views.py
Labels: enhancement

#84 Test: añadidos tests de inicio de sesion y registro
  decide/authentication/templates/authentication/RegisterView.html
  decide/authentication/tests.py
  decide/welcome/templates/welcome.html
Labels: test

#93 Fix: arreglos en los tests de login y registro y del error de usuario no existente
  decide/authentication/tests.py
  decide/authentication/urls.py
  decide/authentication/views.py
Labels: bug

#100 Test: añadidos tests positivos y negativos de loginUser y un test negativo de register
  decide/authentication/tests.py
  decide/authentication/views.py
Labels: test

#102 Añadido test de carga de registro con Locust
  loadtest/locustfile.py
Labels: test

#112 Test: añadido test de carga con Locust del inicio de sesion
  loadtest/locustfile.py
Labels: test
